 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/462c6f5f67c13830cd9fcdbfc7b55ded.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 816px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 770px;
  margin: 248px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  margin: 245px auto 37px;
  padding: 10px 63px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 673px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1293px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: Ubuntu, sans-serif;
  margin: 163px 0 0 301px;
}

.u-section-2 .u-shape-1 {
  width: 228px;
  height: 228px;
  margin: -281px auto 0 30px;
}

.u-section-2 .u-image-1 {
  height: 557px;
  width: 557px;
  background-image: url("images/a34c046a3ea502de69e34b91275594d211ca31aaf12ba38dc49076efc7f26784502441044812f36b8b10850543a72607a1511f6429398b10c976a2_1280.jpg");
  background-position: 50% 50%;
  margin: 96px auto 0 73px;
}

.u-section-2 .u-group-1 {
  width: 527px;
  min-height: 493px;
  height: auto;
  margin: -378px 43px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 12px 21px;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 63px 19px 0;
}

.u-section-2 .u-text-3 {
  margin: 35px 19px 0;
}

.u-section-2 .u-image-2 {
  width: 87px;
  height: 87px;
  margin: 51px auto 0;
}

.u-section-2 .u-image-3 {
  height: 310px;
  width: 310px;
  background-image: url("images/0deb91a601412f3114c0ff60fafa74d8afa40d5ae6cba51dcb48c1e4151839b5f8ace5a96fd98d9f55f1b8c4a9d2f4e9978a34d9070b95342d9e9c_1280.jpg");
  background-position: 50% 50%;
  margin: -373px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 147px;
  height: 147px;
  margin: 73px auto 60px 320px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 52px;
    margin-left: 101px;
  }

  .u-section-2 .u-shape-1 {
    width: 193px;
    height: 193px;
    margin-top: -103px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 588px;
    width: 588px;
    margin-top: 0;
    margin-left: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    margin-top: -263px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    height: 273px;
    width: 273px;
    margin-top: -392px;
    margin-left: 20px;
  }

  .u-section-2 .u-shape-2 {
    width: 118px;
    height: 118px;
    margin-top: 27px;
    margin-left: 196px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.625rem;
    margin-top: 80px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -31px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 446px;
    margin-top: -143px;
  }

  .u-section-2 .u-image-3 {
    height: 229px;
    width: 229px;
    margin-top: -511px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 43px;
    margin-left: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1768px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 528px;
    width: 528px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 271px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-3 {
    margin-top: -845px;
  }

  .u-section-2 .u-shape-2 {
    margin: -27px 139px -45px auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-2 .u-shape-1 {
    width: 134px;
    height: 134px;
  }

  .u-section-2 .u-image-1 {
    width: 317px;
    height: 317px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 287px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    width: 200px;
    margin-top: -853px;
  }

  .u-section-2 .u-shape-2 {
    width: 98px;
    height: 98px;
    margin-top: 23px;
    margin-right: 72px;
    margin-bottom: -314px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 854px;
}

.u-section-3 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 800px);
  left: 0;
  right: auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: calc(((100% - 1140px) / 2) + 511px);
  margin: 60px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 54px 54px;
  min-height: 455px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 32px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 32px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 0 32px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: calc(((100% - 940px) / 2) + 800px);
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 511px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: calc(((100% - 720px) / 2) + 800px);
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 511px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    width: calc(((100% - 540px) / 2) + 800px);
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 511px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: calc(((100% - 340px) / 2) + 800px);
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
} .u-section-4 {
  background-image: url("images/0deb91a601412f3114c0ff60fafa74d8afa40d5ae6cba51dcb48c1e4151839b5f8ace5a96fd98d9f55f1b8c4a9d2f4e9978a34d9070b95342d9e9c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 674px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 96px 717px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 517px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 0% 0%;
    background-size: 120%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 297px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-size: auto 145%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 67px;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 750px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 307px;
  background-image: url("images/Feature-Image.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 307px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 25px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 307px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-3 {
  margin: 2px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 307px;
  background-image: url("images/371-3715720_optimize-your-ip-reputation-badge.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    min-height: 315px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-5 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 750px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 307px;
  background-image: url("images/vulnerability-img-1.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 307px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 25px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 307px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-6 .u-text-3 {
  margin: 2px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-image-2 {
  min-height: 307px;
  background-image: url("images/319ca6a4952cbd41d005682b8f3fb7a6.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    min-height: 315px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-6 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-7 {
  background-image: url("images/20_0112_st_cybersecurity1.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 813px;
}

.u-section-7 .u-group-1 {
  width: 472px;
  min-height: 431px;
  background-image: none;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.15);
  margin: 300px auto 60px 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.25rem;
  margin: 83px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 36px;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 756px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-8 .u-image-1 {
  background-image: url("images/vcvv-min.jpg");
  min-height: 657px;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 657px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-8 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-8 .u-image-1 {
    min-height: 542px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-8 .u-image-1 {
    min-height: 415px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-8 .u-image-1 {
    min-height: 667px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-8 .u-image-1 {
    min-height: 420px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }
}